# Environnements virtuels
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log
media/
staticfiles/

# Tests / outils
.pytest_cache/
.coverage
htmlcov/

# OS / éditeurs
.DS_Store
.vscode/
.idea/

# Node (si frontend plus tard)
node_modules/